<div id="total" hx-get="{% url 'invoice_summary'%}?invoice_id={{ invoice.id }}"
     hx-trigger="newLineItem from:body" hx-swap="outerHTML"
>
    {% if total_items %}
        Total Items: {{ total_items }}<br>
        Amount Without Tax : {{ amount_without_tax|floatformat:3 }} <br>
        {% if invoice.is_igst_applicable %}
            IGST : {{ total_igst_tax|floatformat:3 }} <br>
        {% else %}
            CGST : {{ total_cgst_tax|floatformat:3 }} <br>
            SGST : {{ total_sgst_tax|floatformat:3 }} <br>
        {% endif %}
        Total Tax: {{ total_tax|floatformat:3 }}<br>
        Total Amount: {{ total_amount|floatformat:3 }}<br>
        <br>
    {% endif %}

</div>