<form class="form-inline" hx-post="{% url "line_item_inline_form" %}" hx-swap="outerHTML">
    <input type="hidden" name="invoice_id" value="{{ invoice_id }}">

    <label>{{ total_line_items|add:1 }}</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="item_name" name="item_name" placeholder="Item name">

    <div class="input-group mb-2 mr-sm-2">
    <input type="number" class="form-control" min="0" id="qty" name="qty" placeholder="Qty"/>
    </div>

    <div class="input-group mb-2 mr-sm-2">
    <input type="number" class="form-control" min="0" id="rate" name="rate" placeholder="Rate"/>
    </div>

    <button type="submit" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Save</button>
</form>