<form class="form-inline"
      hx-post="{% url "line_item_inline_form" %}"
      hx-target="#line-item-table"
      hx-swap="beforeend"
      _="on submit reset() on me"
>
    <input type="hidden" name="invoice_id" value="{{ invoice_id }}">


    <input type="text" class="form-control mb-2 mr-sm-2" 
    list="productListOptions"
    id="item_name" name="item_name" placeholder="Item name" required="true">
        <datalist id="productListOptions">
            {% for product in product_list %}
                <option value="{{ product.name }}">
            {% endfor %}
        </datalist>
    </input>

    <div class="input-group mb-2 mr-sm-2 col-2">
    <input type="number" class="form-control" min="0" id="qty" name="qty" placeholder="Qty" step="0.001" required="true"/>
    </div>

    <div class="input-group mb-2 mr-sm-2 col-2">
    <input type="number" class="form-control" min="0" id="rate" name="rate" placeholder="Rate" step="0.001" required="true"/>
    </div>

    <!-- Add an input percentage field for GST%-->
    <div class="input-group mb-2 mr-sm-2 col-3">
        <label for="gst_tax_rate">GST %</label> &emsp;
        <input type="number"
               class="form-control w-25" min="0" max="100"
               id="gst_tax_rate" name="gst_tax_rate"
               placeholder="GST%" value='{{ gst_tax_rate }}'
               required="true"
               />
    </div>

    <button type="submit" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Save</button>
</form>