asgiref==3.8.1
asttokens==3.0.0
certifi==2025.1.31
cfgv==3.4.0
charset-normalizer==3.4.1
decorator==5.2.1
distlib==0.3.9
django==4.2.2
django-cors-headers==4.3.1
django-crispy-forms==1.14.0
django-htmx==1.12.0
django-simple-history==3.2.0
django-sql-explorer==3.0.1
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
docopt==0.6.2
et-xmlfile==2.0.0
executing==2.2.0
filelock==3.17.0
freezegun==1.5.1
identify==2.6.9
idna==3.10
ipython==9.0.2
ipython-pygments-lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.1.7
nodeenv==1.9.1
num2words==0.5.14
numpy==2.2.4
openpyxl==3.0.10
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
pre-commit==4.1.0
prompt-toolkit==3.0.50
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure-eval==0.2.3
pygments==2.19.1
pyjwt==2.9.0
python-dateutil==2.9.0.post0
pytz==2025.2
pyyaml==6.0.2
requests==2.32.3
setuptools==76.0.0
six==1.17.0
sqlparse==0.5.3
stack-data==0.6.3
traitlets==5.14.3
tzdata==2025.1
urllib3==2.3.0
virtualenv==20.29.3
wcwidth==0.2.13
xlsxwriter==3.0.3
python-dotenv==1.2.1
