asgiref==3.5.2
cfgv==3.3.1
distlib==0.3.5
Django==4.0.6
django-crispy-forms==1.14.0
django-htmx==1.12.0
django-phonenumber-field==6.3.0
filelock==3.7.1
identify==2.5.1
nodeenv==1.7.0
platformdirs==2.5.2
pre-commit==2.20.0
PyYAML==6.0
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
virtualenv==20.15.1

django-simple-history~=3.2.0
openpyxl==3.0.10