{% extends 'base.html' %}

{% block content %}

    <div>
        <h3 class="font-medium leading-tight text-3xl mt-0 mb-2 text-blue-600">{{ object.name }}</h3>
        <p>{{ object.address }}</p>

        <p>{{ object.gst_number }}</p>
        <p>{{ object.business.name }}</p>
        <p>{{ object.pan_number|default_if_none:"Pan number not avaiable" }}</p>
        <p>{{ object.mobile_number|default_if_none:"Mobile number not avaiable" }}</p>
        <br>


    <div class="flex items-center justify-left">
      <div class="inline-flex shadow-md hover:shadow-lg focus:shadow-lg" role="group">
        <a
                href="{% url 'customer_list' %}"
                class="rounded-l inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase hover:bg-blue-700 focus:bg-blue-700 focus:outline-none focus:ring-0 active:bg-blue-800 transition duration-150 ease-in-out">
                    &laquo;  Customer List
        </a>

        <button
                type="button"
                class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase hover:bg-blue-700 focus:bg-blue-700 focus:outline-none focus:ring-0 active:bg-blue-800 transition duration-150 ease-in-out">
            EDIT</button>
      </div>
</div>


    </div>

{% endblock %}
