{% extends 'base.html' %}

{% block content %}
    {% include "invoicing/business_selection.html" with business=invoice.business %}
    {% include "invoicing/customer_selection.html" with customer=invoice.customer invoice_number=invoice.invoice_number invoice_date=invoice.invoice_date%}
    <h2 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900 md:text-4xl">Line Items</h2>
    <div id="magic">
            mage
    </div>

    {% include "partials/invoice_summary.html" %}

    <div id="existing-items">
    {% include 'line_item_invoice_list.html' %}
    </div>
    <div id="add_line_items">

    </div>

    <button
        hx-get="{% url 'line_item_inline_form' %}?invoice_id={{ invoice.id }}"
        hx-target="#existing-items"
        hx-trigger="click"
        hx-swap="beforeend"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
      Add
    </button>

        <input type="button" value="View Bill"
               hx-get="{% url 'invoice_print' invoice.id %}"
               hx-target="#content-body"
               hx-trigger="click"
               hx-push-url="{% url 'invoice_print' invoice.id %}"
               style="float: right; width:140px;
	   height:35px;
	   line-height:32px;
	   text-align:center;
	   border:none;
	   border-radius:20px;
	   background:#f60;
	   margin-bottom:20px;
	   cursor:pointer;
	   color:#fff;
	   font-family: 'Muli', sans-serif;">
{% endblock %}