<tr id="line_item_{{ object.id }}">

    <th scope="row">{{ index }}</th>
    <td>{{ object.product_name }}</td>
    <td>{{ object.quantity }}</td>
    <td>{{ object.rate }}</td>

    <td>{% widthratio object.gst_tax_rate 1 100 %}%</td>

    {% if invoice.is_igst_applicable %}
        <td>{{ object.igst }}</td>
    {% else %}
        <td>{{ object.cgst }}</td>
        <td>{{ object.sgst }}</td>
    {% endif %}

    <td>{{ object.amount }}</td>
    <td>
        <button class="btn btn-dark"
                hx-get="{% url 'line_item_inline_form' %}?invoice_id={{ invoice.id }}&line_id={{ object.id }}"
{#                hx-target="#line_item_{{ object.id }}"#}
{#                hx-target="closest tr"#}
        >
            EDIT</button>
    </td>

</tr>