<td colspan="2">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td height="49" valign="bottom" style=" font-size:20px; color:#d04e00; font-weight:800; font-family: 'Muli', sans-serif;">HTML Invoice Templates</td>
            </tr>
          <tr>
            <td style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;" >GSTIN : JJSASJJJJKKJ11111, </td>
            </tr>
          <tr>
            <td style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">Pan No : AA444111FFFF</td>
            </tr>
          <tr>
            <td style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">Office : Address here</td>
            </tr>
          <tr>
            <td style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">Email.email@example.com, Website. www.example.com</td>
            </tr>
        </tbody>
    </table>
</td>