<table width="100%" border="1" cellspacing="0" cellpadding="0" style="border:1px solid #999999;">
    <tbody>
      <tr>
            <td style=" font-size:13px; color:{{ invoice.business.primary_color_theme }}; font-weight:500; padding:5px; font-family: 'Muli', sans-serif;" align="center">
                Bank Name : {{ bank_name }}
            </td>
        </tr>
      <tr>
            <td style=" font-size:13px; color:{{ invoice.business.primary_color_theme }}; font-weight:500;padding:5px; font-family: 'Muli', sans-serif;" align="center">
                A/c. Number : {{ bank_account_number }}
            </td>
        </tr>
      <tr>
            <td style=" font-size:13px; color:{{ invoice.business.primary_color_theme }}; font-weight:500; padding:5px; font-family: 'Muli', sans-serif;" align="center">
                Bank ISFC Code : {{ bank_ifsc_code }}
            </td>
        </tr>

      <tr>
        <td style=" font-size:13px; color:{{ invoice.business.primary_color_theme }}; font-weight:500; padding:5px; font-family: 'Muli', sans-serif;" align="center">
            Bank Branch Name : {{ bank_branch_name }}
        </td>
      </tr>
    </tbody>
</table>
