<td colspan="2">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td height="49" valign="bottom" style=" font-size:20px; color:#d04e00; font-weight:800; font-family: 'Muli', sans-serif;">
                {{ business.name }}
            </td>
            </tr>
          <tr>
            <td style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;" >
                GSTIN : {{ business.gst_number }}, </td>
            </tr>
          <tr>
            <td style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
                Pan No : {{ business.pan_no }}</td>
            </tr>
          <tr>
            <td style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
                Office : {{ business.name }}</td>
            </tr>
          <tr>
            <td style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
                Email.email@example.com, Website. www.example.com</td>
            </tr>

          <tr>
            <td style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
                Number : {{ business.mobile_number }}</td>
            </tr>
        </tbody>
    </table>
</td>