<td>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td height="49" valign="bottom" style=" font-size:20px; color:{{ business.primary_color_theme }}; font-weight:800; font-family: 'Muli', sans-serif;">
                {{ business.name }}
            </td>
            </tr>
          <tr>
            <td style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;" >
                <strong>GSTIN :</strong> {{ business.gst_number|default_if_none:"" }}, </td>
            </tr>
          <tr>
            <td style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
                <strong>Pan No :</strong> {{ business.pan_number|default_if_none:"" }}</td>
            </tr>
          <tr>
            <td style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
                <strong>Address :</strong> {{ business.address|default_if_none:"" }}</td>
            </tr>

          <tr>
            <td style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
                <strong>State :</strong> {{ business.clean_state_name|default_if_none:"" }}, <strong>Code :</strong> {{ business.state_code|default_if_none:"" }}
            </td>
          </tr>

          <tr>
            <td style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
                <strong>Mobile Number :</strong> {{ business.mobile_number|default_if_none:"" }}</td>
          </tr>

        </tbody>
    </table>
</td>