{% extends 'base.html' %}


{% block content %}
<style>
    table.tb2 tr:first-of-type {
        border-bottom: 2px solid black;
    }

    table.tb2 tr:last-of-type {
        border-top: 2px solid black;
    }

    @media print {
        @page {
            margin: 0;
        }
        body * {
            visibility: hidden;
        }
        #panel * {
            visibility: visible;
        }
    }
</style>

<div class="inline-flex rounded-md shadow-sm" role="group">

    <button
        hx-get="{% url 'invoice_detail' invoice.id %}"
        hx-target="#content-body"
        hx-trigger="click"
        hx-push-url="{% url 'invoice_detail' invoice.id %}"
        hx-swap="outerHTML"
        type="button"
        class="h-8 px-4 m-2 text-sm text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800"
    >
        &laquo; Back to Invoice {{ invoice.id }}
    </button>

    <button type="button" onclick="window.print();"
            class="h-8 px-4 m-2 text-sm text-orange-100 transition-colors
            duration-150 bg-orange-600 rounded-lg focus:shadow-outline hover:bg-orange-800">
        Print Invoice</button>

</div>

<div id="panel">
    <table style="border: 1px solid #999999;" width="100%" border="0" cellpadding="0" cellspacing="0" class="tb">
        <tbody>
            <tr>
                <td height="35" colspan="4" align="center" class="txt"
                    style="border-bottom: 1px solid #ddd; color: #d04e00; font-weight: 800;
                    font-family: 'Muli', sans-serif;">
                    TAX INVOICE
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                {% include "invoicing/business_selection.html" with business=invoice.business %}
                <td>
                    {% include "invoicing/business_bank_details.html" %}
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td height="36" colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <td width="3%">&nbsp;</td>
                <td colspan="2">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tb1">
                        <tbody>
                            {% include "invoicing/customer_selection.html" with customer=invoice.customer invoice_number=invoice.invoice_number invoice_date=invoice.invoice_date%}
                            {% include 'invoicing/line_item_selection.html' %}

                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    {% include "invoicing/invoice_final_summary.html" %}
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td width="3%">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr style="height: 20px">
                <td colspan="4" >&nbsp;</td>
            </tr>
            <tr>
              <td style="font-size: 13px; color: #000; padding: 5px; font-family: 'Muli', sans-serif; text-align:center;" align="right" valign="bottom" colspan="4">
                <strong style="display:inline-block;width:70%;text-align:right;">Customer Signature</strong>
                <strong style="display:inline-block;width:20%;text-align:right;">Authorized Signature</strong>
              </td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
        </tbody>
    </table>

    <div style="text-align:center;">
        <p style="font-size: 20px; color: #000; padding: 5px; font-family: 'Muli', sans-serif;">
            <strong>SUBJECT TO UDAIPUR JURISDICTION</strong>
        </p>
    </div>

</div>
{% endblock %}
