<tr>
<td><table style="border:1px solid #999999;" width="100%" border="1" cellpadding="0" cellspacing="0" class="tb2">
  <tbody>
    <tr style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
      <th width="7%" height="30" align="center"><strong>S.N</strong></th>
      <th width="30%" align="center"><strong>Description Of Goods</strong></th>
      <th width="10%" align="center"><strong>HSN/SAC</strong></th>
      <th width="10%" align="center"><strong>GST Rate</strong></th>
      <th width="8%" align="center"><strong>Qty </strong></th>
      <th width="12%" align="center"><strong>Rate </strong></th>
      <th width="12%" align="center"><strong>Per </strong></th>
      <th width="13%" align="center"><strong>Amount</strong></th>
    </tr>

    <tr>
        <td>&nbsp;</td>
    </tr>

    {% include "invoicing/line_item.html" %}

    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
      <td height="30" align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
      <td align="center"><strong>TOTAL</strong></td>
      <td align="center">&nbsp;</td>
    </tr>

  </tbody>
</table></td>
</tr>
